.container .filters{
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
}
.container .filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.3s;
    margin-top: 10px;
    position: relative;
    left: 75%;
    border: none;
}
.container .filters button:hover{
    opacity: 0.9;
}
.locations,.amenities {
  height: 100%;
  width: 25%;
  border-right: 1px solid #DDDDDD;
  color: black;
  margin-left: -160px;
}
.amenities {
    border-right: none;
    margin-left: 50px;
    }
h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -15px;
}